[submodule "lib/FontStash.NET"]
	path = lib/FontStash.NET
	url = https://github.com/MatijaBrown/FontStash.NET
[submodule "lib/Silk.NET"]
	path = lib/Silk.NET
	url = https://github.com/dotnet/Silk.NET
[submodule "lib/SafeStbImageSharp"]
	path = lib/SafeStbImageSharp
	url = https://github.com/StbSharp/SafeStbImageSharp
[submodule "NanoVG"]
	path = NanoVG
	url = https://github.com/memononen/nanovg
