[submodule "lib/FontStash.NET"]
	path = lib/FontStash.NET
	url = https://github.com/MatijaBrown/FontStash.NET
[submodule "lib/Silk.NET"]
	path = lib/Silk.NET
	url = https://github.com/dotnet/Silk.NET
